/* reset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
}

ul, li, menu{
    text-decoration: none;
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}


/* header-menu */

header{
    background-color: #0084FD;
}

header ul{
    display: inline-flex;
    gap: 2rem;
    color: white;
    font-size: 1rem;
    align-items: center;
}

nav{
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.btn{
    border: none;
    padding: 0.6rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.fa-solid.fa-bars{
    display: none;
}

@media (max-width: 768px) {
    nav{
     max-width: 100%;
    }

    header ul{
        display: none;
    }

    .fa-solid.fa-bars{
        display: block;
        padding-right: 2rem;
        font-size: 1.5rem;
        color: white;
    }
   }

   
@media (max-width: 480px) {
    nav{
     max-width: 100%;
    }
}

/* section-hero */

.container{
    max-width: 1190px;
    margin: 0 auto;
    padding: 1.8rem;
    border: 2px solid blue;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.col{
    flex-basis: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #B5DDFF;
    border-radius: 20px;
    position: relative;
}

.col-66{
    flex-basis: calc(100%/2);
    flex-grow: 1;
}

.col-small{
    flex-basis: 0;
    flex-grow: 1;
}

.card{
    background-color: #B5DDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero h2{
    color: #0084FD;
    padding-bottom: 2rem;
}

p{
    color: #5A6E7F;
    font-weight: 700;
    line-height: 1.5rem;
}

.btn-apple{
    background-color: #0084FD;
    color: white;
    padding: 0.6rem 3rem;
    margin-top: 2.2rem;
}

.fa-apple{
    padding-right: 0.5rem;
}

.col-small img{
    position: absolute;
    right: 65px;
    height: 270px;
    bottom: 0px;
}

.hero .fa-solid{
    color: #0084FD;
    font-size: 70px;
    padding-bottom: 2rem;
}

.align-c{
    text-align: center;
}

.row-nogap{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .container{
     max-width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .col-small img{
        position: initial;
    }
    .row-nogap{
        align-items: center;
    }
    .col-small{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col .col-66{
        padding-bottom: 0px;
    }
    .btn-apple{
        margin-bottom: 20px;
    }
}

/* section strategic planning */

.strategic-planning{
    background-color: #9792E4;
    padding-top: 120px;
    margin-top: 80px;
}

.container-small{
    max-width: 930px;
    margin: 0 auto;
}

.col-50{
    flex-grow: 1;
    flex-basis: 0;
    padding: 30px;
}

.card-planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    gap: 30px;
    padding-bottom: 30px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p-plan{
    color: white;
    font-weight: 400;
}

.p-development{
    text-align: center;
}

.img-plan{
    padding-bottom: 110px;
}

.img-development{
 height: 260px;
}

.title-plan{
    padding-bottom: 50px;
    color: white;
}

@media (max-width: 768px) {
    .container-small{
        max-width: 100%;
    }
    .row-nogap{
        flex-direction: column;
    }
    .title-plan{
        font-size: 4rem;
    }
    .p-plan{
        font-size: 1.2rem;
    }
    .img-development{
       height: 100%;
    }
    .p-development{
        font-size: 1.2rem;
    }
   }

   
@media (max-width: 480px) {
    .container-small{
        max-width: 100%;
    }
    .title-plan{
        font-size: 2rem;
    }
    }
