/* reset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
}

ul, li, menu{
    text-decoration: none;
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}


/* header-menu */

header{
    background-color: #0084FD;
}

header ul{
    display: inline-flex;
    gap: 2rem;
    color: white;
    font-size: 1rem;
    align-items: center;
}

nav{
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.btn{
    border: none;
    padding: 0.6rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.fa-solid.fa-bars{
    display: none;
}

@media (max-width: 768px) {
    nav{
     max-width: 100%;
    }

    header ul{
        display: none;
    }

    .fa-solid.fa-bars{
        display: block;
        padding-right: 2rem;
        font-size: 1.5rem;
        color: white;
    }
   }

   
@media (max-width: 480px) {
    nav{
     max-width: 100%;
    }
}

/* section-hero */

.container{
    max-width: 1190px;
    margin: 0 auto;
    padding: 1.8rem;
    border: 2px solid blue;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.col{
    flex-basis: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #B5DDFF;
    border-radius: 20px;
    position: relative;
}

.col-66{
    flex-basis: calc(100%/2);
    flex-grow: 1;
}

.col-small{
    flex-basis: 0;
    flex-grow: 1;
}

.card{
    background-color: #B5DDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero h2{
    color: #0084FD;
    padding-bottom: 2rem;
}

p{
    color: #5A6E7F;
    font-weight: 700;
    line-height: 1.5rem;
}

.btn-apple{
    background-color: #0084FD;
    color: white;
    padding: 0.6rem 3rem;
    margin-top: 2.2rem;
}

.fa-apple{
    padding-right: 0.5rem;
}

.col-small img{
    position: absolute;
    right: 65px;
    height: 270px;
    bottom: 0px;
}

.hero .fa-solid{
    color: #0084FD;
    font-size: 70px;
    padding-bottom: 2rem;
}

.align-c{
    text-align: center;
}

.row-nogap{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .container{
     max-width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .col-small img{
        position: initial;
    }
    .row-nogap{
        align-items: center;
    }
    .col-small{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col .col-66{
        padding-bottom: 0px;
    }
    .btn-apple{
        margin-bottom: 20px;
    }
}

/* section strategic planning */

.strategic-planning{
    background-color: #9792E4;
    padding-top: 120px;
    margin-top: 80px;
}

.container-small{
    max-width: 930px;
    margin: 0 auto;
}

.col-50{
    flex-grow: 1;
    flex-basis: 0;
    padding: 30px;
}

.card-planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    gap: 30px;
    padding-bottom: 30px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p-plan{
    color: white;
    font-weight: 400;
}

.p-development{
    text-align: center;
}

.img-plan{
    padding-bottom: 110px;
}

.img-development{
 height: 260px;
}

.title-plan{
    padding-bottom: 50px;
    color: white;
}

@media (max-width: 768px) {
    .container-small{
        max-width: 100%;
    }
    .row-nogap{
        flex-direction: column;
    }
    .title-plan{
        font-size: 4rem;
    }
    .p-plan{
        font-size: 1.2rem;
    }
    .img-development{
       height: 100%;
    }
    .p-development{
        font-size: 1.2rem;
    }
   }

   
@media (max-width: 480px) {
    .container-small{
        max-width: 100%;
    }
    .title-plan{
        font-size: 2rem;
    }
    }

    /* <!-- section partners --> */


.container-partner{
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   align-items: center;
}

.container-partner h4{
    font-weight: 400;
}

.container-partner h2{
    color: #9792E4;
    font-size: 2rem;
}
.container-partner p{
    text-align: center;
    font-weight: 400;
}

.row-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-part{
    background-color: #9792E4;
    padding: 2rem 1rem;
    display: flex;
    border-radius: 30px;
    align-items: center;
}

.img-testimonial{
        border-radius: 100%;
        width: 248px;
        height: 250px;
        object-fit: cover;
}

.box-info{
    padding: 0 50px;
}

.box-info span,
.box-info p{
    color: white;
    padding-bottom: 1.5rem;
}

@media (max-width: 480px) {
    .card-part{
        flex-direction: column;
        gap: 1rem;
    }

.box-info{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.box-info p{
    text-align: center;
}
}

/* section benefits */

.title-benefits{
color: white;
text-align: center;
font-size: 2rem;
padding: 50px 0;
}

.benefits{
    background-color: #9792E4;
}

.col-6{
    flex-basis: calc(100% / 3 - 20px);
    border-radius: 20px;
    padding: 45px 45px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
}

.card-benefits{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-benefits span{
    font-size: 50px;
    font-weight: 700;
    color: #9792E4;
}

.card-benefits h3{
    color: #9792E4;
    font-size: 1.4rem;
}

.card-benefits p{
    font-weight: 400;
}

.btn-benefits{
    color: white;
    background-color: #9792E4;
    font-weight: 600;
    width: 150px;
}


@media (max-width: 768px) {
    .col-6{
        flex-basis: calc(100% / 2 - 20px);
    }
   }

   /* section about us */
   .row-about{
    gap: 0px;
   }

   .col-70{
    flex-basis: 70%;
    border: 1px solid red;
    padding: 30px 30px 30px 75px;
   }

   .col-30{
    flex-basis: 30%;
    border: 1px solid red;
    padding: 30px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   }

   .title-about-us{
    padding-bottom: 45px;
    color: #9792E4;
    font-size: 2.2rem;
   }

.p-1{
    padding-bottom: 55px;
}

.img-about{
    border-radius: 100%;
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.btn-about{
    color: white;
    background-color: #9792E4;
    font-weight: 400;
    width: 180px;
}

@media (max-width: 768px) {
    .col-70{
        flex-basis: 60%;
        padding: 10px 30px 30px 10px;
    }
    .col-30{
    flex-basis: 40%;
    padding: 10px 0px 0px 30px;
   }
   .img-about{
    width: 215px;
    height: 215px;
   }
   }


   /* section get started */

   .get-started{
    background-color: #9792E4;
   }

   .container-extra-small{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   }


/* footer */

footer{
    background-color: #333333;
}